@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: 'Lato';
    scroll-behavior: smooth;
}

:root {
    --shadow: 8px 8px 8px rgba(0, 0, 0, 16%);
    --shadowlight: 3px 3px 8px rgba(0, 0, 0, 16%);
    --font-regular: 400;
    --font-bold: 700;
    --font-black: 900;
    --green: #96E6A1;
    --grigio: rgb(117, 117, 117);
  }


/* nav */

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: var(--grigio);
    color: var(--green);
    box-shadow: var(--shadow);
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem 3rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0 3rem;
    padding: 0;
}

.navbar-links li {
    list-style: none;
    transition: 0.3s;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: var(--green);
    padding: 1rem;
    transition: 0.3s;
}

.navbar-links li:hover {
    background-color: white;
    color: var(--grigio);
}
.navbar-links li a:hover {
    color: var(--grigio);
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: var(--green);
    border-radius: 10px;
}




/*landing*/

.landing{
    background-image: url(../img/landing3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: var(--grigio);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: var(--shadow);
}

.title{
    width: 100%;
    height: auto;
    text-align: center;
}

.title h1{
    font-size: 70px;
    text-transform: uppercase;
    text-shadow: var(--shadowlight);
    font-weight: var(--font-black);
}
.title h2{
    font-size: 25px;
    text-shadow: var(--shadowlight);
    font-weight: var(--font-regular);
    animation: FadeIn 3.5s forwards 0s linear;
}

.title img{
   height: 200px;
   width: 200px;
}

.btns{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.menu-btn{
    margin-top: 1.5rem;
    padding: 1rem;
}


.menu-btn a{
    margin: auto auto;
    text-decoration: none;
    font-weight: var(--font-bold);
    color: var(--green);
    text-shadow: var(--shadow);
    border: var(--green) 1px solid;
    padding: 1rem;
    border-radius: 5px;
    background-color: var(--grigio);
    box-shadow: var(--shadowlight);
    transition: 0.3s;
}

.menu-btn a:hover{
    background-color: white;
    color: var(--grigio);
    border: var(--grigio) 1px solid;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0%);
}


.titolo{
    text-align: center;
    background-color: var(--grigio);
    font-size: 30px;
    font-weight: var(--font-bold);
    margin: 2rem auto;
    width: 100vh;
    text-transform: uppercase;
    padding: 1.5rem;
    color: var(--green);
    border-radius: 5px;
    border: var(--green) 1px solid;
    box-shadow: var(--shadow);
}

#service{
    display: flex;
    flex-flow: wrap row;
    text-align: center;
    align-items: center;
    
}

#service p{
    font-size: 20px;
    padding: 2rem;
    height: 250px;
}

.card{
    border: var(--green) 1px solid;
    box-shadow: var(--shadow);
    border-radius: 5px;
    width: 400px;
    margin: 3rem auto;
    animation: FadeIn 3.5s forwards 0s linear;
}

.video {
    width: 100%;
    height: 100%;
    margin-bottom: 2rem;
    border: var(--green) 1px solid;
  }







































#about{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
#about img{
    width: 300px;
    height: 300px;
}



















.footer{
    margin-top: 3rem;
    background-color: var(--green);
    color: var(--grigio);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer h1{
    margin-top: 3rem;
    font-weight: var(--font-black);
    font-size: 50px;
    text-shadow: var(--shadowlight);
    text-transform: uppercase;
}

.footer p{
    margin-bottom: 1rem;
}

.footer a{
    color: var(--grigio);
    font-size: 50px;
    padding: .5rem;
    transition: 0.3s;
}

.footer a:hover{
    color: white;
    padding: .5rem;
}

.social{
    margin-bottom: 3rem;
}

.footer-firma{
    background-color: var(--grigio);
    text-align: center;
    color: var(--green);
}

.footer-firma a{
    text-decoration: none;
    color: var(--green);
}























@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        position: sticky;
        top: 0;
        z-index: 999;
    }

    .toggle-button {
        display: flex;
        cursor: pointer;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .navbar-links.collapse {
        display: none;
    }

    .titolo{
        font-size: 20px;
        margin: 2rem 1rem;
        width: auto;
        text-transform: uppercase;
    }

    .landing{
        height: 70vh;
    }

    .title h1{
        font-size: 50px;
        text-transform: uppercase;
        text-shadow: var(--shadowlight);
        font-weight: var(--font-black);
    }

    .title img{
        height: 130px;
        width: 130px;
    }

    .card{
        width: 350px;
        margin: 3rem auto;
    }

    #service p{
        font-size: 18px;
        padding: 1rem;
        height: 250px;
    }
}













@keyframes FadeIn{
    0%{
        opacity: 0;
        }
    50%{
        opacity: 0.5;
        }
    100%{
        opacity: 1;
        }
}