@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Lato';
}

body{}

:root {
    --shadow: 8px 8px 8px rgba(0, 0, 0, 16%);
    --shadowlight: 3px 3px 8px rgba(0, 0, 0, 16%);
    --font-regular: 400;
    --font-bold: 700;
    --font-black: 900;
    --green: #96E6A1;
    --grigio: rgb(117, 117, 117);
  }



nav{
    display: flex;
    padding: 1rem;
    justify-content: space-evenly;
    background-color: rgba(117, 117, 117, 0.794);
    box-shadow: var(--shadow);
    color: var(--green);
    align-items: center;
    position: fixed;
    width: 100%;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    margin-left: 2rem;
    font-size: 1.1rem;
}

nav ul li a{
    color: var(--green);
    text-decoration: none;
    transition: 0.3s;
}

nav ul li a:hover{
    color: white;
    text-decoration: none;
}

.landing{
    background-image: url(../img/landing2.png);
    background-size: cover;
    background-position: top;
    background-color: var(--grigio);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: var(--shadow);
}

.title{
    width: 100%;
    height: auto;
    text-align: center;
}

.title h1{
    font-size: 50px;
    text-transform: uppercase;
    text-shadow: var(--shadowlight);
    font-weight: var(--font-black);
}
.title h2{
    font-size: 25px;
    text-shadow: var(--shadowlight);
    font-weight: var(--font-regular);
    animation: FadeIn 2s forwards 0s linear;
}

.menu-btn{
    margin-top: 1.5rem;
    width: 100%;
    display: flex;
}


.menu-btn a{
    margin: auto auto;
    text-decoration: none;
    font-weight: var(--font-bold);
    color: var(--green);
    text-shadow: var(--shadow);
    border: var(--green) 1px solid;
    padding: 1rem;
    border-radius: 5px;
    background-color: var(--grigio);
    box-shadow: var(--shadowlight);
    transition: 0.3s;
}

.menu-btn a:hover{
    background-color: white;
    color: var(--grigio);
    border: var(--grigio) 1px solid;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0%);
}


.titolo{
    background-color: var(--grigio);
    font-size: 30px;
    font-weight: var(--font-bold);
    margin: 2rem auto;
    width: 100vh;
    text-transform: uppercase;
    padding: 1.5rem;
    color: var(--green);
    border-radius: 5px;
    border: var(--green) 1px solid;
    box-shadow: var(--shadow);
}

#service{
    display: flex;
    flex-direction: column;
    text-align: center;
}

#service p{
    margin: 0 5rem;
    font-size: 20px;
}

#service img{
    height: 300px;
    width: 300px;
    margin: 1rem auto
}

@keyframes FadeIn{
    0%{
        opacity: 0;
        }
    50%{
        opacity: 0.5;
        }
    100%{
        transform: rotate(xx);
        opacity: 1;
        }
}